<app-navbar></app-navbar>

<link href="https://cdn.jsdelivr.net/npm/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Rohit Navnath Karale - Java Developer, Full-Stack, Cloud Integration, Microservices Architect.">

<div class="home-container">
    <!-- Home Section -->
    <section class="home" id="home">
        <div class="home-content">
            <h3>Hello, it's Brilliance in Code</h3>
            <h1>Rohit Navnath Karale</h1>
            <h3>And I'm a <span>Java Developer</span></h3>
            <p>
                Skilled in Java, Spring Boot, Hibernate, and REST APIs, I design scalable API’s, ensure code quality, and streamline backend processes. Proficient in full-stack development, cloud integration (Azure, Snowflake), and Microservices architecture, with expertise in building interactive and efficient systems that support data-driven decisions.
            </p>
            <div class="social-media">
                <a href="https://github.com/rohitkarale" target="_blank">
                    <i class="bx bxl-github"></i>
                </a>
                <a href="https://www.linkedin.com/in/rohit-karale-122381316" target="_blank">
                    <i class="bx bxl-linkedin"></i>
                </a>
            </div>
            <a class="btn" href="https://drive.google.com/file/d/1jiRko1O5htX06VaL3A2EysbuLRem9WTQ/view?usp=sharing" target="_blank" download="Rohit Karale CV">
                Download CV
            </a>
        </div>
        <div class="home-img">
            <img src="./RohitP2.jpg" alt="Profile Photo of Rohit Navnath Karale" loading="lazy">
        </div>
    </section>
</div>

<app-footer></app-footer>
