<!--Footer Section-->
<footer class="footer">
    <div class="footer-content">
        <div class="footer-logo">
            <h2>Rohit Navnath Karale</h2>
        </div>
        <div class="footerlinks">
            <ul class="footer-links">
                <li><a href="https://github.com/rohitkarale" class="active">GitHub</a></li>
                <li><a href="https://www.linkedin.com/in/rohitkarale">LinkedIN</a></li>
                <li><a href="https://rohitkarale.github.io/Portfolio/">Portfolio</a></li>
                <li><a href="https://drive.google.com/file/d/1jiRko1O5htX06VaL3A2EysbuLRem9WTQ/view?usp=sharing">Resume</a></li>
                <li><a (click)="onContact()">Contact Details</a></li>
            </ul>
        </div>
        <div class="footer-text">
            <p>&copy;  Rohit Karale. All Rights Reserved.</p>
        </div>
        
    </div>
</footer>